.home-header {
  background-color: #000;
  color: #fff;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main {
  display: grid;
  justify-content: center;
}
